<nav [id]="id"
     *ngIf="hasAnyPages()"
     class="pager"
     aria-label="Pager">
    <ul class="pagination justify-content-center">
        <li id="{{id}}-first-page-item"
            class="page-item text-primary"
            [class.disabled]="!hasFirstPage()"
            *ngIf="showBoundaryLinks">
            <a id="{{id}}-first-page-link"
               (click)="goFirstPage()"
               class="page-link">{{ firstButtonText }}</a>
        </li>
        <li id="{{id}}-previous-page-item"
            class="page-item text-primary"
            [class.disabled]="!hasPreviousPage()">
            <a id="{{id}}-previous-page-link"
               (click)="goPreviousPage()"
               class="page-link">{{ previousButtonText }}</a>
        </li>
        <li id="{{id}}-progress"
            class="page-item disabled"
            *ngIf="showProgress">
            <a class="page-link page-progress">
                <span id="{{id}}-current-page"
                      *ngIf="showCurrentPage"
                      class="page-current">{{ pageResource?.currentPage }}</span>
                <span id="{{id}}-total-pages"
                      *ngIf="showTotalPages"
                      class="page-total">{{ pageResource?.totalPages }}</span>
            </a>
        </li>
        <li id="{{id}}-next-page-item"
            class="page-item text-primary"
            [class.disabled]="!hasNextPage()">
            <a id="{{id}}-next-page-link"
               (click)="goNextPage()"
               class="page-link">{{ nextButtonText }}</a>
        </li>
        <li id="{{id}}-last-page-item"
            class="page-item text-primary"
            [class.disabled]="!hasLastPage()"
            *ngIf="showBoundaryLinks">
            <a id="{{id}}-last-page-link"
               (click)="goLastPage()"
               class="page-link">{{ lastButtonText }}</a>
        </li>
    </ul>
</nav>