<h2>
    {{ bookResource.content.author }} - {{ bookResource.content.title }}
    <span class="badge badge-default">View</span>
</h2>

<hr>

<form>
    <div class="from-group row">
        <label class="col-2 col-form-label">ISBN</label>
        <div class="col-10">
            <p id="isbn-static"
               class="form-control-static">{{ bookResource.content.isbn }}</p>
        </div>
    </div>
    <div class="from-group row">
        <label class="col-2 col-form-label">Title</label>
        <div class="col-10">
            <p id="title-static"
               class="form-control-static">{{ bookResource.content.title }}</p>
        </div>
    </div>
    <div class="from-group row">
        <label class="col-2 col-form-label">Author</label>
        <div class="col-10">
            <p id="author-static"
               class="form-control-static">{{ bookResource.content.author }}</p>
        </div>
    </div>
    <div class="from-group row">
        <label class="col-2 col-form-label">Publication Date</label>
        <div class="col-10">
            <p id="publicationDate-static"
               class="form-control-static">{{ bookResource.content.publicationDate | date:'longDate' }}</p>
        </div>
    </div>

    <div class="fixed-bottom text-center">
        <button id="edit-button"
                *ngIf="editable()"
                type="button"
                (click)="edit()"
                class="btn btn-primary">Edit
        </button>
        <button id="save-button"
                *ngIf="deletable()"
                type="button"
                (click)="delete()"
                class="btn btn-danger">Delete
        </button>
    </div>
</form>