<div class="container-fluid">
    <div class="row no-gutters">
        <na-search class="col-6"
                   placeholder="Search by Title / Author / ISBN"
                   (onChange)="filterByText($event)"></na-search>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td id="{{book.isbn}}-isbn">{{ book.isbn }}</td>
                <td id="{{book.isbn}}-title">{{ book.title }}</td>
                <td id="{{book.isbn}}-author">{{ book.author }}</td>
                <td id="{{book.isbn}}-publication-date">{{ book.publicationDate | date:'longDate' }}</td>
                <td>
                    <div class="action-buttons">
                        <button id="{{book.isbn}}-view-button"
                            *ngIf="viewable(book)"
                            type="button"
                            class="btn btn-secondary"
                            (click)="view(book)">
                            <i class="fa fa-eye"
                            aria-hidden="true"></i> View
                        </button>
                        <button id="{{book.isbn}}-edit-button"
                                *ngIf="editable(book)"
                                type="button"
                                class="btn btn-primary"
                                (click)="edit(book)">
                                <i class="fa fa-pencil"
                                aria-hidden="true"></i> Edit
                        </button>
                        <button id="{{book.isbn}}-delete-button"
                                *ngIf="deletable(book)"
                                type="button"
                                class="btn btn-danger"
                                (click)="delete(book)">
                                <i class="fa fa-trash"
                                aria-hidden="true"></i> Delete
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <na-pager id="books-pager"
              [pageResource]="booksResource"
              (onNavigate)="onNavigate($event)"></na-pager>
</div>
