<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">Angular Boilerplate</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let item of leftMenuItems"
                class="nav-item">
                <a class="nav-link"
                   [class.disabled]="item.isDisabled()"
                   [routerLink]="item.link"
                   [routerLinkActiveOptions]="{exact:true}"
                   routerLinkActive="active"
                   href="">
                   <i class="fa"
                      *ngIf="item.class"
                      [ngClass]="item.class"
                      aria-hidden="true"></i> {{ item.caption }}
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li *ngFor="let item of rightMenuItems"
                class="nav-item">
                <a *ngIf="!item.link"
                   class="nav-link"
                   (click)="item.onClick($event)"
                   href="">
                   <i class="fa"
                      *ngIf="item.class"
                      [ngClass]="item.class"
                      aria-hidden="true"></i> {{ item.caption }}
                </a>
                <a *ngIf="item.link"
                   class="nav-link"
                   href=""
                   [routerLink]="item.link"
                   [routerLinkActiveOptions]="{exact:true}"
                   routerLinkActive="active">
                   <i class="fa"
                      *ngIf="item.class"
                      [ngClass]="item.class"
                      aria-hidden="true"></i> {{ item.caption }}
                </a>
        </ul>
    </div>
</nav>